body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #282424;
    color: white;
    font-family: Arial, Helvetica, sans-serif;


}

#fejlec{
    background-image: url(Képek/fejlec.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    height: 650px;
    color: white;
    padding-top: 1px;
    
}
 #kezd{
    font-weight: bold;
}
#tortenetunk{
    background-color: #282424;
    color: white;
    padding-bottom: 280px;
    font-size: 20px;
    padding-top: 40px;

    
    
}
#bal_szoveg{
    float: left;
    display: inline;
    margin-left: 700px;
}
#jobb_szoveg{
    float: right;
    display: inline;
    margin-left: 900px;
    margin-top: -130px;
    margin-right: 400px;
    font-size: 20px;
    margin-right: 300px;
    
}
#kiscim{
    font-family: "Playfair Display", serif;
    margin-left: 10px;
}
#szam{
    float: left;
    font-weight: bold;
    font-size: 15px;
}
#menu{
    background-color: #101010;
    color: white;
    clear: both;
    text-align: center;
    padding-bottom: 60px;
    
   
}
#szoveg2{
    margin: auto;
    width: 600px;
}
#fels{
    
}

p{
    font-family: "Roboto", sans-serif;
}
#fejlec li{
    list-style-type: none;
    display: inline;
    
    
}
#fejlec a{
    color: white;
    text-decoration: none;
}
#fejlec ul{
    margin-top: 78px;
    padding-left: 1400px;
}
#menu ul{
    margin-top: 50px;
}
#menu li{
    text-decoration: none;
    display: inline;
    border: 1px solid white;
    padding: 20px 80px 20px 80px;
    width: 50px;
    margin-top: 50px;
    margin: 20px;

}
h1{
    width: 200px;
    padding-left: 50px;
    padding-top: 50px;
    float: left;
    font-weight: 100;
    text-align: right;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-left: -155px;
    padding-right: 940px;
    width: 300px;
    font-weight: bold;
    
}
h3{
    margin-left: -40px;
    padding-right: 930px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
h4{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: -10px;
    }
h5{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}
#specialitasaink{
    clear: both;
    width: 65%;
    margin: auto;
    
}
#szöveg{
    padding-top: 30px;
}
#specialitasaink p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
#speckis{
    margin-top: -30px;
}
#bal_kepek{
    width: 70%;
}
#kep1{
    background-image:url(Képek/fejlec.jpg) ;
    height: 500px;
   
    background-position: center center;
    background-size: cover;
    
    

    
}
#gomba{
    height: 300px;
    float: left;
    
}

