body{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #282424;
    color: white;

}

#fejlec{
    background-image: url(Képek/fejlec.jpg);
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    height: 650px;
    color: white;
    padding-top: 1px;
    
}
#tortenetunk{
    background-color: #282424;
    color: white;

    
    
}
#bal_szoveg{
    float: left;
    display: inline;
    margin-left: 800px;
}
#jobb_szoveg{
    float: right;
    display: inline;
    margin-left: 900px;
    margin-top: -100px;
    
}
#menu{
    background-color: #101010;
    color: white;
   
}
#specialitasaink{

}
#kiscim{
    font-family: "Playfair Display", serif;
}
p{
    font-family: "Roboto", sans-serif;
}
li{
    display: inline;
    float: right;
    
}
li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul{
    height: 40px;
    margin-top: 70px;
}
h1{
    width: 203;
    padding-left: 50px;
    padding-top: 50px;
    float: left;
    font-weight: 100;
    text-align: right;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-left: -155px;
    padding-right: 940px;
    
}
h3{
    margin-left: -40px;
    padding-right: 930px;
}
#szam{
    text-align: right;
    
}
